extends layout

block content
  h1 #{title}
  form(method='POST', action='/clients/add')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
    #form-group
      label IP:
      input.form-control(name='ip', type='number')
    #form-group
      label Usuario:
      textarea.form-control(name='username', type='text')
    #form-group
      label Contraseña:
      textarea.form-control(name="psw" type="password" )
    br
    input.btn.btn-primary(type='submit',value='Submit')
